form {
  padding-right: 4%;
  /*padding-left: 0%;*/
  margin-right: 5%;
  margin-left: -10%;
  text-align: center;
}

h1 {
  font-size: 650%;
  font-family: 'Homemade Apple', cursive;
  color: #FFF;
  margin: 5%;
  text-align: center;
}

h3 {
  font-size: 300%;
  font-family: 'Walter Turncoat', cursive;
  color: #FFF;
  margin: 5%;
  text-align: center;
}

ul li {
  font-size: 150%;
  font-family: 'Allerta', sans-serif;
  color: #FFF;
  padding: 1.5%;
  margin: 2.5%;
  list-style: none;
}

#result {
  font-size: 200%;
  text-align: center;
}

button {
  margin: 2%;
  padding: 2%;
}

#transparent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 50px 50px;
  border-top-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  background: rgba(0, 0, 0, 0.5);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#backg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img#backg {
    left: 50%;
    margin-left: -512px;
  }
}
