h1 {
  margin: 5%;
  text-align: center;
}

h3 {
  margin: 5%;
  text-align: center;
}

ul li {
  padding: 1.5%;
  margin: 2.5%;
  list-style: none;
}

button {
  display: block;
  margin-left: 30%;
  margin-right: 32%;
  padding: 5%;
  margin: 5%;
}
